* {
    box-sizing: border-box;
}
:root{
    --primary-color: #f44336
}
body{
    margin: 0;
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    padding: 20px;
    margin: 0 0 50px;
    background-color: white;
    
}
.guess-game{
    text-align: center;
    width: 1000px;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .game-area{
        .inputs{
        > div{
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                font-size: 30px;
                margin-right: 15px;
                font-weight: bold;
            }}
            .display-input{
                opacity: .5;
                pointer-events: none;
                display : flex;
            }
            input{
                margin: 5px 10px;
                width: 50px;
                height: 50px;
                text-align: center;
                border-radius: 10%;
                font-size: 50px;
                caret-color: var(--primary-color);
                background-color: white;
                border: none ;
                border-bottom: 3px solid black ; 
            }
            :focus{
                outline-color: #ccc;
            }
            .yes-in-place{
                background-color: #f89e13;
                border: #f89e13  ;
                color: white;

            }
            .not-in-place{
                background-color: #18ba89;
                border: #18ba89;
                color: white;

            }
            .no{
                background-color: #27303f;
                border: #27303f;
                color: white;

        }
    
    }
    .controls{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        margin: 30px auto;
        gap: 10px;
        .check{
            border: none;
            font-size: 25px;
            padding: 15px 25px;
            border-radius: 6px;
            background-color: var(--primary-color);
            color: white;
            cursor: pointer;
            font-weight: bold;
            flex: 1 ;
        }
        .hint{
            border: none;
            font-size: 25px;
            padding: 15px 25px;
            border-radius: 6px;
            background-color: #009688;
            color: white;
            cursor: pointer;
            font-weight: bold;
            width: fit-content;
        }
        button:disabled{
            background-color: black;
            opacity: .4;
            cursor: no-drop;
        }
    }
}
    .key-colors{
        .key-color{
            display: flex;
            align-items: center;
            padding: 15px;
            margin-bottom: 10px;
            background-color: white;
            .key{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
            }
            .in-place{
                background-color: #f89e13;
            }
            .not-in-place{
                background-color: #18ba89;
            }
            .no{
                background-color: #27303f;

            }
            .key-text{
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}
.message{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    span{
        font-size: 50px;
        font-weight: bold;
        color: var(--primary-color);
        text-transform: capitalize;
        display: block;
    }
    p{
        margin-top: 15px;
    }
}
footer{
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #333;
    color: white;
    position: fixed;
    left: 0px;
    bottom: 0px;
    font-weight: bold;
}